
/* color variables */

:root {
    --purple: #5c328f;
    --pink: #d54bc5;
    --mauve: rgb(216, 209, 216);
}

body {
    font-family: 'Roboto', sans-serif;
    transition: 0.5s;
}

main { 
    display: flexbox;
    flex-direction: column;
}

header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    padding: 15px;

}

header a {

    text-decoration: none;
    color: var(--pink);
}

.container {
    max-width: 60%;
    margin: 20px auto;
}

#titleDiv {

    font-size: larger;
}

button {
    
    background-color: var(--purple);
    color: white;
    font-size: 20px;
    border: 0px;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 10px 10px 0px;
    display: block;
}

button:hover {

background-color: var(--pink);
}

#start {
    display: inline;
}

#submit {
    display: inline;
    margin-left: 5px;
}

.correct h2::after {
    
    content: "Correct!";
    font-style: italic; 
    font-weight: lighter;
    font-size: 40px;
    color: gray;
}

.wrong h2::after {
    content: "Wrong!";
    font-style: italic; 
    font-weight: lighter;
    font-size: 40px;
    color: gray;
}

.correct, .wrong {
    border-top: 1px solid gray;
    max-width: 60%;
    margin: 20px auto;
}