
/* color variables */

:root {
    --purple: #5c328f;
    --pink: #d54bc5;
    --mauve: rgb(216, 209, 216);
}

body {
    font-family: 'Roboto', sans-serif;
    transition: 0.5s;
}

main { 
    display: flexbox;
    flex-direction: column;
}

header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    padding: 15px;

}

header a {

    text-decoration: none;
    color: var(--pink);
}

.container {
    max-width: 60%;
    margin: 20px auto;
}

#titleDiv {

    font-size: larger;
}


